<div class="container" *ngIf="weatherForecast">
    <div class="row">

        <div id="surf-forecast" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>
                Forecast
            </h1>
            <div *ngFor="let day of weatherForecast ; index as i">
                <div>
                    {{day.dt * 1000 | date: 'EEEE d MMM'}}
                </div>
                <div class="row weather-forecast">
                    <div class="col-lg-2">
                        <img src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png" alt="weather icon">
                    </div>
                    <div class="col-lg-2 test">
                        {{day.weather[0].main}}
                    </div>
                    <div class="col-lg-2 test">
                        {{day.main.temp | number:'1.0-0'}}&deg;C
                    </div>
                    <div class="col-lg-2 test">
                        <span>
                            <!-- convert from m/s to mph   -->
                            {{day.wind.speed * 2.237 | number:'1.0-0'}} mph
                            <i class="wi wi-wind from-{{day.wind.deg}}-deg"></i>
                        </span>
                    </div>
                    <!-- next: it's not listening to me change this to col-lg-3 why???? -->
                    <div class="col-lg-3"
                        *ngIf="(surfForecast.data.wave[i].surf.min | number:'1.0-0') !== (surfForecast.data.wave[i].surf.max | number:'1.0-0')"
                        class="col-lg-2 test">
                        {{surfForecast.data.wave[i].surf.min | number:'1.0-0'}}-{{surfForecast.data.wave[i].surf.max | number:'1.0-0'}}ft
                    </div>
                    <div class="col-lg-3"
                        *ngIf="(surfForecast.data.wave[i].surf.min | number:'1.0-0') === (surfForecast.data.wave[i].surf.max | number:'1.0-0')"
                        class="col-lg-2 test">
                        {{surfForecast.data.wave[i].surf.min | number:'1.0-0'}}ft
                    </div>
                    <div class="col-lg-3"
                        *ngIf="(surfForecast.data.wave[i].surf.max | number:'1.0-0') === (0 | number:'1.0-0')"
                        class="col-lg-2 test">
                        <!-- needs to be tested -->
                        FLAT
                    </div>
                </div>
            </div>
        </div>
        <!-- <h2>Weather</h2> -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>Nearby Spots</h1>
        </div>