#image img {
    width: 100%;
    height: 100%;
}

#wave-height {
    font-size: 50px;
}

#human-relation {
    font-size: 20px;
}

#current-conditions-card {
    display: flex;
    flex-direction: column;
}

#conditions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 835px;
}

#conditions {
    width: 330px;
    background-color: #1B3950;
    color: #ffffff;
}

#description {
    font-size: 18px;
}

td {
    padding-right: 43px;
}

.type {
    font-weight: bold;
}

#weather {
    font-size: 30px;
}