<div class="bg-img">
  <div class="search-area col-lg-4">
    <div class="container">
      <p><b>Select a region</b></p>
      <!-- <div class="input-group">
        <select [(ngModel)]="spotService.selectedRegionId" name="selectedRegionId" class="form-control">
          <option selected disabled>--Select--</option>
          <option *ngFor="let region of regions" [value]="region.surflineRegionId">{{ region.regionName }}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" [routerLink]="['/region']"
            [queryParams]="{ id: spotService.selectedRegionId }">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div> -->
      <mat-form-field>
        <mat-label>Select from dropdown...</mat-label>
        <mat-select [(ngModel)]="selectedRegionId">
          <mat-option (click)="goToRegion()" *ngFor="let region of regions" [value]="region.surflineRegionId">
            {{region.regionName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container">
      <p>Or<br /><br /><b>Search for a spot</b></p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Type to find a spot..." aria-label="Number" matInput
            [formControl]="spotSearch" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="goToSpot($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>



<ngx-loading [show]="!spotsLoaded && !regionsLoaded"></ngx-loading>