<div class="container">
  <div>
    <h1>
      Nearby
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div #map style="width:100%;height:400px"></div>
    </div>
    <div *ngIf="nearbyPlaces.length > 0" class="col-lg-6">
      <div class="row">
        <div class="property-card col-lg-6" data-toggle="modal" data-target="#myModal"
          *ngFor="let place of nearbyPlaces">
          <div class="col-lg-12">
            <div class="property-card-details">
              <div class="row">
                <div (click)="selectedPlace=place; myModal.open()" class="col-lg-10">
                  <div class="nearby">
                    {{place.name}}
                  </div>
                </div>
                <div (click)="openInfoWindow(place.name)" class="col-lg-2 marker">
                  <fa-icon tooltip="Click to show on map" hide-delay="0" [icon]="faMapMarkerAlt"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="nearbyPlaces.length == 0">
      <i>No points of interest nearby</i>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h1>
        Gallery
      </h1>
    </div>
    <div class="col-lg-5" style="margin-right: 0px; padding-left: 0px;">
      <h1>
        Best Conditions
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <ngx-gallery *ngIf="photosLoaded" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-lg-5">
      <div class="row">
        <div class="col-lg-6 day">
          <div class="best-title">
            Size
          </div>
          <div class="icon">
            <fa-icon [icon]="faRulerVertical"></fa-icon>
          </div>
          <div class="best">
            {{spot.travel.best.size}}
          </div>
        </div>
        <div class="col-lg-6 day">
          <div class="best-title">
            Swell
          </div>
          <div class="icon">
            <fa-icon [icon]="faWater"></fa-icon>
          </div>
          <div class="best">
            {{spot.travel.best.swell}}
          </div>
        </div>
        <div class="col-lg-6 day">
          <div class="best-title">
            Wind
          </div>
          <div class="icon">
            <fa-icon [icon]="faWind"></fa-icon>
          </div>
          <div class="best">
            {{spot.travel.best.wind}}
          </div>
        </div>
        <div class="col-lg-6 day">
          <div class="best-title">
            Tide
          </div>
          <div class="icon">
            <fa-icon [icon]="faArrowsAltV"></fa-icon>
          </div>
          <div class="best">
            {{spot.travel.best.tide}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-smart-modal (onOpen)="detailsSearch()" [customClass]="'nsm-centered'" #myModal identifier="myModal">
    <h1 *ngIf="selectedPlace">{{selectedPlace.name}}</h1>
    <div>
      <ngx-gallery *ngIf="modalPhotosLoaded" [options]="galleryOptions" [images]="modalGalleryImages">
      </ngx-gallery>
    </div>
    <div *ngIf="placeDetails" class="row">
      <div class="col-lg-6" *ngIf="placeDetails">
        <div>
          <b>Address: </b>{{placeDetails.formatted_address}}
        </div>
        <div>
          <b>Phone: </b>{{placeDetails.formatted_phone_number}}
        </div>
        <br>
        <div>
          <b>Rating: </b>
          <star-rating *ngIf="placeDetails.rating > 0" style="display: inline-flex;" [starType]="'svg'"
            [rating]="placeDetails.rating" [labelText]="placeDetails.user_ratings_total" labelPosition="right"
            staticColor="ok" [readOnly]="true">
          </star-rating>
          <span *ngIf="placeDetails.rating == 0 || !placeDetails.rating">
            <i>No rating yet</i>
          </span>
        </div>
        <hr>
      </div>
      <div *ngIf="placeDetails.weekday_text" class="col-lg-6">
        <div>
          <b>Opening times:</b>
        </div>
        <div *ngFor="let day of placeDetails.opening_hours.weekday_text">
          {{day}}
        </div>
        <hr>
      </div>
      <div *ngIf="placeDetails.reviews" class="reviews">
        <h4>
          Reviews
        </h4>
      </div>
      <div class="reviews">
        <div *ngFor="let review of placeDetails.reviews">
          <p *ngIf="review.text">
            <span style="font-weight: bold">{{review.author_name}} </span>
            <span>{{review.relative_time_description}}</span>
            <span>
              <star-rating style="display: inline-flex;" [starType]="'svg'" [rating]="review.rating" staticColor="ok"
                [readOnly]="true">
              </star-rating>
            </span>
          </p>
          <p *ngIf="review.text">
            {{review.text}}
          </p>
          <hr>
        </div>
      </div>
    </div>
  </ngx-smart-modal>
</div>