.container {
    margin-top: 15px;
  }

  .property-card {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-left: 7px solid #1B3950;
    border-radius: 5px;
    margin: 0.5em 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    height: 50px;

    &:not(.not-verified) {
      cursor: pointer;
    }

    &:hover:not(.not-verified) {
      cursor: pointer;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    }
  }

  // .property-card-details {
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  // }

  .property-card-tranaction-type {
    text-align: right;
    text-transform: uppercase;
  }

  .property-image-container {
    padding: 0;
  }

  p {
    margin-bottom: 0em;
  }

  .nearby {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    padding-top: 15px;
  }

  img {
    height: 200px;
    width: 300px;
  }

  .active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 0 #000000;
    }

  .form-control {
    margin-left: 8px;
  }

.search {
  margin-top: 5px;
  } 

  #map {
    height: 100%;
  }

.gallery {
  margin-top: 50px;
}

.day {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  background-color: #1B3950;
  color: #ffffff;
  height: 200px;
}

.best {
  font-size: 40px;
}

.best-title {
  font-size: 25px;
}

.icon {
  font-size: 50px;
}

.marker {
  font-size: 31px;
  color: #1B3950;
}

.modal {
  height: 500px;
  width: 700px;
}

.reviews {
  padding: 16px;
}

